{% extends "header.html" %}

{% set active_page = "index" %}

{% block body %}

<div class="main-container">
    <div class="main-container-with-bg">
        <div class="index-text">
            <div>
                <b>GET YOUR POPCORN</b> 
            </div>
        </div>
        <div class="welcome-text">
            Choose whatever flavour then sit down in your comfy sofa, put
            on SecFlix and never get up again! It's just about chilling.
            Watch even at work, school and skip the outer world! Don't
            forget to invite your friends, let them enjoy it with you!
        </div>
    </div>

    <div>
        <div class="shows-text">Newest</div>
    </div>

    <div class="flex-shows">
        <a href="#"> <img class="index-image" src="/webservice/static/images/show_4.png"> </a>
        <a href="#"> <img class="index-image" src="/webservice/static/images/show_3.png"> </a>
        <a href="#"> <img class="index-image" src="/webservice/static/images/show_1.png"> </a>
    </div>
    </div>
</div>

{% endblock %}
